<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XPTO - Carteirinha do Estudante</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div id="wrapper">
        <h1>XPTO - Carteirinha do Estudante</h1>

        <div id="central" v-cloak>

            <div id="formulario">

                <label for="nome">Nome:</label>
                <!-- v-model faz a ligação entre input e data do Vue -->
                <input v-model="nome" type="text" id="nome" placeholder="Digite seu nome" />

                <label for="matricula">Matrícula:</label>
                <input v-model="matricula" type="text" id="matrícula" placeholder="Digite sua matrícula" />

            </div>

            <div id="previa">
                <div id="cartao">
                    <div id="dados-cartao">

                        <span class="label-cartao">Nome:</span>
                        <!-- Reflete os dados do atributo nome -->
                        <span class="dado-cartao"> {{ nome }} </span>

                        <span class="label-cartao">Matrícula:</span>
                        <!-- Reflete os dados do atributo matricula -->
                        <span class="dado-cartao" v-text="matricula">{{ matricula }} </span>
                    </div>
                    <div id="foto">Foto</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Importar VueJS da CDN para dentro da aplicacao -->
    <script src="https://unpkg.com/vue@3.0.0-rc.5/dist/vue.global.js"></script>
    <!-- Objeto/Instância do VueJS -->
    <script>
        Vue.createApp({
            data() {  // Passa dados para o Vue
                return {  // Retorna um objeto
                    nome: "",        // Atributo nome
                    matricula: "",   // Atributo matrícula
                }
            }
        }).mount("#central") //Div que engloba os elementos que o VueJS vai trabalhar (# + id do elemento)
    </script>
</body>

</html>